>script>
        .contenedor{
           display: inline-block;
        }
        .cuadrado{
            height: 50px;
            width: 50px;
        }
        .rojo{
            background-color: red;
            }
        .azul{
            background-color: blue;
        }
        .verde{
            background-color: green;
        }
        .p{
            display: flex;
            background-color: violet;
        }

    </script>
